body {
    margin: 0;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 500;
    font-size: 1.4vw;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.visible {
    display: flex;
}

.invisible {
    display: none;
}

.disabled {
    color: #d2d2d2;
}

.enabled {
    color: #fff;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/light-gray.jpeg');
    background-size: cover;
    justify-content: center;
    align-items: center;
}

#spinner {
    width: 120px;
    height: 120px;
}


#background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: 95vh;
    background-image: url('./assets/wind-1.gif');
    background-size: cover;
}

#main-screen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

#writeup {
    position: fixed;
    top:0;
    right: 0;
    padding: 1.5vw;
}

a:link {color: white;}
a:visited {color:#d2d2d2;}
a:hover {color: #d2d2d2;}




#menu-wrapper {
    padding: 1.5vw 3vw;
}

form {
    padding: 0.8vw 0px;
    margin-bottom: 0.5vw;
    display: flex;
}

.form-heading {
    padding: 0.5vw 0px;
}


label {
    margin-right: 6vw;
    max-width: 11vw;
    display: flex;
    align-items: center;
    color: #fff;
    
}

input {
    margin-right: 1vw;
    max-width: 1vw;
}

input[type='radio']:after {
    width: 1vw;
    height: 1vw;
    border-radius: 1vw;
    top: -0.1vw;
    left: -0.1vw;
    position: relative;
    background-color: #f5f5f5;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 1vw;
    height: 1vw;
    border-radius: 10px;

    position: relative;
    background-color: #8c7d70;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

#buttons-wrapper {
    padding: 1.5vw 0px;
}


.button {
    
    padding: 0.5vw 1.5vw;
    border-radius: 0.5vw;
    background-color: white;
    border: 2px solid #a8a8a8;
    margin-right: 1.8vw;
    font-size: 1.4vw;
    font-family:  "Lucida Console", "Courier New", monospace;
    font-weight: 500;


}



#canvas {
    position: fixed;
    bottom: 0;
    background-color: #c2b5a8;

}